# +------------------------------------------------------------------+ 
# |             ____ _               _        __  __ _  __           | 
# |            / ___| |__   ___  ___| | __   |  \/  | |/ /           | 
# |           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            | 
# |           | |___| | | |  __/ (__|   <    | |  | | . \            | 
# |            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           | 
# |                                                                  | 
# | Copyright Mathias Kettner 2014             mk@mathias-kettner.de | 
# +------------------------------------------------------------------+ 
#                                                                      
# This file is part of Check_MK.                                       
# The official homepage is at http://mathias-kettner.de/check_mk.      
#
# check_mk is free software;  you can redistribute it and/or modify it
# under the  terms of the  GNU General Public License  as published by
# the Free Software Foundation in version 2.  check_mk is  distributed
# in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
# out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
# PARTICULAR PURPOSE. See the  GNU General Public License for more de-
# tails. You should have  received  a copy of the  GNU  General Public
# License along with GNU Make; see the file  COPYING.  If  not,  write
# to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
# Boston, MA 02110-1301 USA.

service check_mk
{
        type           = UNLISTED
        port           = {{ cmk_xinetd_port }}
        socket_type    = stream
        protocol       = tcp
        wait           = no
        user           = {{ cmk_xinetd_user }}
        server         = {{ cmk_xinetd_server }}

        # listen on IPv4 AND IPv6 when available on this host
	{% if cmk_xinetd_flags is defined %}
        flags          = {{ cmk_xinetd_flags }}
	{% endif %}

        # configure the IP address(es) of your Nagios server here:
	{% if cmk_xinetd_only_from is defined %}
	only_from      = {{ cmk_xinetd_only_from }}
	{% endif %}

        # Don't be too verbose. Don't log every check. This might be
        # commented out for debugging. If this option is commented out
        # the default options will be used for this service.
        log_on_success = {{ cmk_xinetd_log_on_success }}

        disable        = {{ 'yes' if cmk_xinetd_disable else 'no' }}
}

